WiggleTechTest/Wiggle.Service.Test/Service References/ProductServiceHost/ProductServiceHost3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:56328/ProductServiceHost.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Wiggle.Service.Models.Products.Results" />
  <xs:element name="GetProducts">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Wiggle.Service.Models.Products.Results" minOccurs="0" name="GetProductsResult" nillable="true" type="q1:GetProductsResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>