WiggleTechTest/Wiggle.Service.Test/Service References/ShoppingBasketService/ShoppingBasketHost4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Wiggle.Service.Models.ShoppingBasket" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Wiggle.Service.Models.ShoppingBasket" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:56328/ShoppingBasketHost.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Wiggle.Service.Models.Products.Vouchers" />
  <xs:import schemaLocation="http://localhost:56328/ShoppingBasketHost.svc?xsd=xsd6" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:56328/ShoppingBasketHost.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/Wiggle.Service.Models.Products" />
  <xs:import schemaLocation="http://localhost:56328/ShoppingBasketHost.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Wiggle.Service.Models.Common" />
  <xs:complexType name="ShoppingBasketDto">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Wiggle.Service.Models.Common" base="q1:BaseDto">
        <xs:sequence>
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Wiggle.Service.Models.Products.Vouchers" minOccurs="0" name="GiftVouchers" nillable="true" type="q2:ArrayOfGiftVoucherDto" />
          <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Notifications" nillable="true" type="q3:ArrayOfanyType" />
          <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Wiggle.Service.Models.Products.Vouchers" minOccurs="0" name="OfferVoucher" nillable="true" type="q4:OfferVoucherDto" />
          <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Wiggle.Service.Models.Products" minOccurs="0" name="Products" nillable="true" type="q5:ArrayOfProductDto" />
          <xs:element minOccurs="0" name="SubTotal" type="xs:decimal" />
          <xs:element minOccurs="0" name="Total" type="xs:decimal" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ShoppingBasketDto" nillable="true" type="tns:ShoppingBasketDto" />
</xs:schema>