WiggleTechTest/Wiggle.Service.Test/Service References/ShoppingBasketService/ShoppingBasketHost1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Wiggle.Service.Models.Products" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Wiggle.Service.Models.Products" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:56328/ShoppingBasketHost.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Wiggle.Service.Models.Common" />
  <xs:simpleType name="ProductCategoryEnum">
    <xs:restriction base="xs:string" />
  </xs:simpleType>
  <xs:element name="ProductCategoryEnum" nillable="true" type="tns:ProductCategoryEnum" />
  <xs:complexType name="ArrayOfProductDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductDto" nillable="true" type="tns:ProductDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProductDto" nillable="true" type="tns:ArrayOfProductDto" />
  <xs:complexType name="ProductDto">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Wiggle.Service.Models.Common" base="q1:BaseDto">
        <xs:sequence>
          <xs:element minOccurs="0" name="Category" type="tns:ProductCategoryEnum" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Price" type="xs:decimal" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ProductDto" nillable="true" type="tns:ProductDto" />
</xs:schema>