WiggleTechTest/Wiggle.Client.Intergration.Test/Service References/ShoppingBasketService/ShoppingBasketHost.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Wiggle.Service.Models.Common" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Wiggle.Service.Models.Common" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="BaseDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseDto" nillable="true" type="tns:BaseDto" />
</xs:schema>